@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Quicksand&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --accent: #17aab5;
}

body {
  padding: 2%;
  padding-bottom: 10%;
  margin: 2%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

header {
  border-bottom: 2px solid black;
}

article {
  padding-top: 1%;
  padding-bottom: 1%;
}

.large-num {
  font-size: 500%;
  padding-bottom: none;
  margin-bottom: none;
}

.box-link {
  color: inherit;
  text-decoration: none;
}

.box-stuff {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  user-select: none;
}

div {
  box-sizing: border-box;
}

p {
  box-sizing: border-box;
}

td {
  margin: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 2%;
  width: 50rem;
}

#stats {
  align-items: center;
}

h1 {
  font-family: Ubuntu, sans-serif;
  color: var(--accent);
}

a:link,
a:visited {
  color: black;
  text-decoration: underline;
}

a:hover, a.special {
  color: var(--accent);
  text-decoration: var(--accent) underline;
}


footer a:link,
footer a:visited {
  color: gray;
  text-decoration: gray underline;
}

footer {
  color: gray;
}

body { 
  height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* make footer stay at bottom of page */
body { 
  display: flex; 
  flex-direction: column; 
}

footer {
  border-top: 1px solid black;
  margin-top: auto; 
}

.accent {
  color: var(--accent);
}
