@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css);

body {
  padding: 2%;
  border: 1px solid black;
  padding-bottom: 10%;
  margin: 2%;
  background-color: rgb(230, 208, 174);
}

header {
  border-bottom: 2px solid black;
}

article {
  padding-top: 1%;
  padding-bottom: 1%;
}

.large-num {
  font-size: 500%;
  padding-bottom: none;
  margin-bottom: none;
}

.box-link {
  color: inherit;
  text-decoration: none;
}

.box-stuff {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  user-select: none;
}

div {
  box-sizing: border-box;
}

p {
  box-sizing: border-box;
}

td {
  margin: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 2%;
  width: 50rem;
}

#stats {
  align-items: center;
}
