---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Splatterxl';
const description = 'Crafting innovative experiences through code.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <h1>Splatterxl</h1>
    <p>Crafting innovative experiences through code.</p>
  </div>
  <div class="about-container">
    <div class="home-about">
      <p>
        Welcome to my digital playground! I'm a passionate developer hailing
        from the picturesque landscapes of Ireland.
      </p><p>
        I find inspiration in the adorable world of red pandas, channeling their
        playfulness into every line of code I write. My goal is to create
        unique, immersive experiences that leave a lasting impact.
      </p><p>
        Let's dive deep into the intricacies of programming, explore new
        possibilities, and bring forth innovative solutions.
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    display: flex;
    width: 100%;
    min-height: 80vh;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .home-container h1 {
    font-family:
      ui-serif,
      Georgia,
      Cambria,
      Times New Roman,
      Times,
      serif;
    font-size: 6rem;
    margin: 0;
  }

  .home-container p {
    font-size: 1.5rem;
    margin: 0;
  }
</style>
