<div>
  <img src="/assets/icon.png" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Ruairí</strong>. I'm a software engineer and UX designer based in Dublin, Ireland.
    You see some of my work on <a href="https://github.com/splatterxl" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
