
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.link {
    cursor: pointer;
    text-decoration: underline;
    color: green
}

body {
    font-family: "Fira Code", monospace;
}

.blurple, .green {
    color: bright-green;
}

body.dark {
    background-color: #23272A;
    color:#99AAB5;
}

body.light {
    color: #000000;
    background-color: #ffffff;
}


body.light *.blurple {
    color: green;
}

.green {
  color: green;
}

#whoami-sect {
  margin-left: 25%;
  margin-right: 25%;
}

#whoami {
  color: green
}

