.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  padding: 3em;
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pronouns {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.pronounsText {
  font-style: italic;
}

.downArrow {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 0;
  height: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
}

.description {
  margin-block-start: 0;
  text-align: center;
}

@media (max-width: 700px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 467px) {
  .title {
    font-size: 3rem;
  }

  .pronouns {
    display: none;
  }
}

.downArrowLink {
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2em;
}

.section {
  background-color: #f5f5f5;
}
